.radio{
	display:inline;
	width: 25px;
	margin: 5px 0 0 10px;
}
input {
	padding: 2px;
	margin:5px;
	border: solid 1px #dcdcdc;
	transition: box-shadow 0.3s, border 0.3s;
}

input:focus {
	border: solid 1px #707070;
	box-shadow: 0 0 5px 1px #969696;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;
	width:80%;
	margin:auto;
}

ul {
	list-style: none;
}

.li_span {
	padding-left: 50px;
	text-align: right;
	border-right-style: solid;
	border-right-color: #CCC;
	border-right-width: thin;
}

.listStyle li {
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	border-bottom-width: thin;
}

.mainframe {
	width: 100%;
	height: 500px;
	border: solid;
	border-width: 1px;
}

.month-picker {
	display: inline-block;
	position: absolute;
	z-index: 9999;
}

.month-picker table {
	border-collapse: separate;
	border-spacing: 2px 2px;
}

.month-picker td {
	padding: 0px;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #f2f2f2
}

th {
	background-color: #EF5350;
	color: white;
}
.login_box{
	text-align: center;
	border: 1px;
	border-style: solid;
	border-color: #ccc;
	width: 300px;
	padding: 0 0 20px 0;
	margin: auto;
	margin-top: 15px;
}
p{
	line-height:25px; 
	font-family:'Open Sans', sans-serif;
	font-weight:100;
}